/* Esto es un comentario en CSS */
/* Los comentarios se ponen así, entre barra y asterisco */

/* Selector de etiqueta */
p {
    color: green;
    font-size: 18px;
}

/* Selector de clase */
.destacado {
    background-color: yellow;
    font-weight: bold;
}

/* Selector de ID */
#especial {
    border: 2px solid red;
    padding: 10px;
}