     table{
        border-collapse: collapse;
        width: 10%
     }  
     thead th {
        background-color: aqua;
     }
     th {
        color: black;
     }
     td:first-child, th:first-child {
        color: green
     }
     td:first-child, th:first-child {
        background-color: orange
     }

     
                td, th {
            border: 1px solid black;
            padding: 10px;
            text-align: center;
        }
        tr {
            color: brown;
        }
